/* hides the native tabs */
#TabsToolbar {
  
}/* leaves space for the window buttons */
#nav-bar {
    margin-top: -29px;
    margin-right: 11vw;
    margin-bottom: 0px;
}
 #TabsToolbar {
    margin-left:11vw !important;
}
 #TabsToolbar > .toolbar-items{
    margin-right: 3.9vw!important;
}

#tabbrowser-tabs, #tabbrowser-tabs arrowscrollbox { min-height: 0 !important; }
#tabbrowser-tabs tab { height: var(--tab-min-height); }
#tabbrowser-tabs tab:first-of-type:last-of-type { display: none !important; }
#tabs-newtab-button {
     display:none !important;
}
